html {
    scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Mono", sans-serif;
    background-color: #000;
    color: #fff;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; /* Для пространства по краям */
}


/* =========== header ============= */
.header {
    padding: 20px 0;
}

 .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }