html {
    scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Mono", sans-serif;
    background-color: #000;
    color: #fff;
    
}
section {
    margin-bottom: 150px;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    }

.section__title {
color: rgb(255, 255, 255);
font-size: 55px;
line-height: 72px;
margin-bottom: 40px;
}

/* =========== header ============= */
.header {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    z-index: 2;
    }

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.header__logo {
    width: 130px;
    height: 39px;
    text-decoration: none;
    color: rgb(27, 255, 7);
    font-size: 42.41px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -11%;
    text-transform: uppercase;
}
.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-left: 50px;
}

.header__nav--link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 23px;
    text-transform: lowercase;
    text-decoration: none;
}
.header__nav--link:hover {
    color: rgb(27, 255, 7);
}

 /* =========== hero ============= */

.hero {
    position: relative;
    height: 765px;
    background-image: url('/resources/background__prev.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__content {
    position: absolute;
    bottom: 94px;
}

.hero__subtitle{
    width: 444px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
}

.hero__title {
    color: rgb(27, 255, 7);
    font-size: 80px;
    line-height: 70px;
}


/* ========== projects ======= */

.projects__list {
    margin-bottom: 80px;
}
.projects__item {
    position: relative;
    width: 1150px;
    height: 550px;
    border-radius: 30px;
}

.projects__item-content {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.projects__item-title {
    font-size: 35px;
    letter-spacing: -1.05px;
    line-height: normal;

}

.projects__item-desckription{
font-size: 30px;
line-height: normal;
letter-spacing: -0.9px;
}

.btn {
    display: block;
    width: 582px;
    height: 153px;
    border-radius: 10px;
    background: #1BFF07;

    padding: 56px 85px;
    color: #000;
    text-align: center;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.9px;
    text-decoration: none;
}

.btn:hover {
    background: #000;
    color: #1BFF07;
    border: 1px solid #1BFF07;
}


/* ============== competencies ========== */

.competencies__list {
    display: flex;
    flex-direction: column;
}
.competencies__item {
    margin-bottom: 60px;
}

.competencies-item__icon-wrapper {
    width: 45px;
    height: 44px;
    margin-bottom: 12px;
}

.competencies-item__title {
    color: #1BFF07;
font-size: 35px;
line-height: normal;
letter-spacing: -1.05px;
margin-bottom: 15px;

}

.competencies-item__discription {
    width: 778px;
font-size: 22px;
line-height: normal;
letter-spacing: -0.66px;
}

/* ========= services ========== */

.services__title {
width: 403px;
font-size: 35px;
line-height: normal;
letter-spacing: -1.05px;
margin-bottom: 74px;
}

.services-list {
    display: flex;
    flex-direction: column;
}

.services-item {
width: 100%;
margin-bottom: 74px;
} 
.services-item:last-child {
    margin-bottom: 0;
}
.services-item__img-wrapper {
    height: 200px;
    border-radius: 30px;
}

.services-item__info-wrapper {
width: 1150px;
height: 283px;
padding: 40px;
border-radius: 30px;
background: #191C19;

}

.services-item__title {
color: #1BFF07;
font-size: 55px;
line-height: normal;
letter-spacing: -1.65px;
}

.services-item__discription {
width: 749px;
font-size: 22px;
line-height: normal;
letter-spacing: -0.66px;
}

/* ========== contacts =========== */

.contacts {
    height: 717px;
    background-color: #191C19;
    border-radius: 30px;
}

.section-title {
font-size: 35px;
line-height: 60px; /* 171.429% */
letter-spacing: -1.05px;
margin-bottom: 28px;
}

.contacts__info {
display: flex;
flex-direction: column;
}

.contacts__link {
 color: #FFF;
font-size: 60px;
line-height: 60px; /* 100% */
letter-spacing: -1.8px;
text-decoration: none;
}
.contacts__link:hover {
    color: #1BFF07;
}

.contacts__img-wrapper {

}